<div class="review">
  <% if current_user && current_user.id == review.user_id %>
    <span class="trash" >
      <%= link_to '', review_path(review.id), method: "delete", class: "fa fa-trash" %>
    </span>
  <% end %>
  <span class="rating">
    <% (review.rating).times do |i| %>
      <i class="fa fa-star"></i>
    <% end %>
    <% (5 - review.rating).times do |i| %>
      <i class="fa fa-star-o"></i>
    <% end %>
  </span>
  <h4><%= review.user.first_name %></h4>
  <div class="review-description">
    <p><%= review.description %></p>
  </div>
</div>